@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@model ViewModel
@{
	ViewBag.Title = "Food Create";
}
<h2>@ViewBag.Title</h2>
<a asp-controller="Food" asp-action="Index">Back to Foods</a>

<div class="row">
	<div class="col-md-8">
		<section>
			<form asp-controller="Food" asp-action="Create" method="post" class="form-horizontal">
				<hr />
				<div class="form-group">
					<label asp-for="Food.Name" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<input asp-for="Food.Name" class="form-control" />
						<span asp-validation-for="Food.Name" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Food.Price" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<input type="number" asp-for="Food.Price" class="form-control" />
						<span asp-validation-for="Food.Price" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Food.Description" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<input asp-for="Food.Description" class="form-control" />
						<span asp-validation-for="Food.Description" class="text-danger"></span>
					</div>
				</div>


				<div class="form-group">
					<label asp-for="Food.FoodType" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						@foreach(var item in Model.FoodTypes)
						{
							<label>
								<input checked type="radio" asp-for="FoodType.Type" value="@item.Type" /> @item.Type
							</label>
						}
						<span asp-validation-for="Food.FoodType" class="text-danger"></span>
					</div>
				</div>





				@*<div class="form-group">
					<label asp-for="Food.FoodType" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						@foreach(var item in Model.FoodTypes)
						{
							<label>
								<input checked type="radio" asp-for="FoodType.Id" value="@item.Id" /> @item.Type
							</label>
						}
						<span asp-validation-for="Food.FoodType" class="text-danger"></span>
					</div>
				</div>*@



				<div class="form-group">
					<label asp-for="Food.FoodIngredients" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						@foreach(var item in Model.Ingredients.OrderBy(s => s.IngredientName))
						{
							<label>
								<input type="checkbox" name="ingredients" value="@item.Id" /> @item.IngredientName
							</label>
						}
						<span asp-validation-for="Food.FoodIngredients" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-default">Register</button>
					</div>
				</div>
			</form>
		</section>
	</div>
</div>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
