@model ViewModel

<html>
<head>
	<title></title>
</head>
<body>
	<div class="row">
		<div id="leftMenu" class="col-md-2">
			<a asp-controller="Home" asp-action="Index"><h2>Menu</h2></a>
			@foreach(var item in Model.FoodTypes.OrderBy(s => s.Type))
			{
				<a asp-controller="Home" asp-action="Index" asp-route-searchType="@item.Type"><h4>@item.Type</h4></a>
			}
		</div>
		<div id="mainContent" class="col-md-6">
			<ul>
				@if(!string.IsNullOrEmpty(ViewBag.search))
				{
					@foreach(var item in Model.Foods.OrderBy(s => s.FoodType.Type).Where(s => s.FoodType.Type == ViewBag.search))
					{
						<li>
							<a asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.Id"><h3>@item.Name</h3></a>
							<span class="ingredients">
								@String.Join(", ", item.FoodIngredients.OrderBy(s => s.Ingredient.IngredientName).Select(s => s.Ingredient.IngredientName).ToList())
							</span>
						</li>
					}
				}
				else
				{
					@foreach(var item in Model.Foods.OrderBy(s => s.FoodType.Type))
					{
						<li>
							<a asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.Id"><h3>@item.Name</h3></a>
							<span class="ingredients">
								@String.Join(", ", item.FoodIngredients.OrderBy(s => s.Ingredient.IngredientName).Select(s => s.Ingredient.IngredientName).ToList())
							</span>
						</li>
					}
				}
			</ul>
		</div>
		<div id="rightMenu" class="col-md-4">
			<form class="form-group" method="post">
				<div>
					<table class="row table table-bordered table-hover lead">
						<tr>
							<th class="text-right col-md-7 ">ITEM</th>
							<th class="col-md-4 text-center">COST</th>
							<td class="col-md-1"></td>
						</tr>
						@if(User.Identities.Any(s => s.IsAuthenticated))
						{
							var currentUserId = User.Claims.SingleOrDefault(s => s.Type == "CustomerId");
							var currentUserCart = Model.CartItems.Where(s => s.Customer.Id.ToString() == currentUserId.Value);
							var currentUser = Model.Customers.SingleOrDefault(s => s.Id.ToString() == currentUserId.Value);

							@if((currentUser.PremiumCoins >= 100) && (currentUserCart.Count() > 0))
							{
								var firstItem = currentUserCart.OrderBy(s => s.Food.Price).First();
								<tr>
									<td class="text-right col-md-7">@firstItem.Food.Name</td>
									<td class="col-md-4">0.00</td>
									<td>
										<a class="glyphicon glyphicon-remove col-md-1" asp-controller="Home" asp-action="RemoveFromCart" asp-route-id="@firstItem.Id"></a>
									</td>
								</tr>
								@foreach(var item in currentUserCart.Skip(1).OrderBy(s => s.Food.Price))
								{
									<tr>
										<td class="text-right col-md-7">@item.Food.Name</td>
										<td class="col-md-4">@item.Food.Price</td>
										<td>
											<a class="glyphicon glyphicon-remove col-md-1" asp-controller="Home" asp-action="RemoveFromCart" asp-route-id="@item.Id"></a>
										</td>
									</tr>
								}
							}
							else
							{
								@foreach(var item in currentUserCart.OrderBy(s => s.Food.Price))
								{
									<tr>
										<td class="text-right col-md-7">@item.Food.Name</td>
										<td class="col-md-4">@item.Food.Price</td>
										<td>
											<a class="glyphicon glyphicon-remove col-md-1" asp-controller="Home" asp-action="RemoveFromCart" asp-route-id="@item.Id"></a>
										</td>
									</tr>
								}
							}
							<tr>
								<td class="text-right lead text-uppercase">Total cost:</td>
								@if(currentUser.PremiumCoins >= 100)
								{
									@if((currentUser.Role.UserRole == PizzaPlace.Entities.UserRole.PremiumUser || currentUser.Role.UserRole == PizzaPlace.Entities.UserRole.Admin) && currentUserCart.Count() > 2)
									{
										<td class="lead">
											@((currentUserCart.Skip(1).Sum(s => s.Food.Price) * Convert.ToDecimal(currentUser.Role.Discount)).ToString("N2"))
										</td>
									}
									else
									{
										<td class="lead">@(currentUserCart.Skip(1).Sum(s => s.Food.Price).ToString("N2"))</td>
									}
								}
								else
								{
									@if((currentUser.Role.UserRole == PizzaPlace.Entities.UserRole.PremiumUser || currentUser.Role.UserRole == PizzaPlace.Entities.UserRole.Admin) && currentUserCart.Count() > 2)
									{
										<td class="lead">
											@((currentUserCart.Sum(s => s.Food.Price) * Convert.ToDecimal(currentUser.Role.Discount)).ToString("N2"))
										</td>
									}
									else
									{
										<td class="lead">@(currentUserCart.Sum(s => s.Food.Price).ToString("N2"))</td>
									}
								}
							</tr>
						}
					</table>
				</div>
				<div>
					@if(User.Identities.Any(s => s.IsAuthenticated))
					{
						var currentUserId = User.Claims.SingleOrDefault(s => s.Type == "CustomerId");
						var currentUserCart = Model.CartItems.Where(s => s.Customer.Id.ToString() == currentUserId.Value);
						@if(currentUserCart.Count() > 0)
						{
							<button id="checkoutButton" class="btn btn-info" asp-controller="Home" asp-action="Checkout">CHECKOUT</button>
							<button class="btn btn-warning" asp-controller="Home" asp-action="ResetCart">RESET</button>
						}
						else
						{
							<button id="checkoutButton" disabled class="btn btn-info" asp-controller="Home" asp-action="Checkout">CHECKOUT</button>
							<button disabled class="btn btn-warning" asp-controller="Home" asp-action="ResetCart">RESET</button>
						}
					}
					else
					{
						<a class="btn btn-info" asp-controller="Account" asp-action="Login">CHECKOUT</a>
						<a class="btn btn-info" asp-controller="Account" asp-action="Login">RESET</a>
					}
				</div>
			</form>
		</div>
	</div>
	@if(TempData["Checkout"] != null)
	{
		<div id="checkout">
			<div class="alert alert-danger alert-dismissable fade in text-center">
				<a asp-controller="Home" asp-action="ResetCart" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<h1>Thank you for ordering!</h1>
				@if(TempData["PremiumCoins"] != null)
				{
				<h3>@TempData["PremiumCoins"]</h3>
				}
				else
				{
				<h3>Paying for premium will grant you 10 premium coins for every item in your order!</h3>
				}
				<h3>When you have 100 or more premium coins you will get your cheapest pizza for free!</h3>
			</div>
		</div>
	}
</body>
</html>