@model PizzaPlace.Models.ViewModel

<html>
<head>
	<title></title>

</head>
<body>

	<div id="menu">
		<a asp-controller="Home" asp-action="Index"><h2>Menu</h2></a>
		@foreach(var item in Model.FoodTypes)
		{
			<a asp-controller="Home" asp-action="Index" asp-route-search="@item.Type.ToString()"><h4>@item.Type</h4></a>
		}
	</div>

	<div id="mainContent">
		<ul>
			@foreach(var pizza in Model.Foods)
			{
				<li>
					<h3>@pizza.Name</h3>
					<span class="ingredients">
						@String.Join(", ", pizza.FoodIngredients.Select(p => p.Ingredient.IngredientName).ToList())
					</span>
				</li>
			}
		</ul>
	</div>










	@*<h2>Customers</h2>
		<div>
			<ul>
				@foreach(var item in Model.Customers)
				{
					<li>@item.FirstName</li>
				}
			</ul>
			<br />
		</div>

		<h2>Foods</h2>
		<div>
			<ul>
				@foreach(var item in Model.Foods)
				{
					<li>@item.Name</li>
				}
			</ul>
			<br />
		</div>

		<h2>FoodTypes</h2>
		<div>
			<ul>
				@foreach(var item in Model.FoodTypes)
				{
					<li>@item.Type</li>
				}
			</ul>
			<br />
		</div>

		<h2>Ingredients</h2>
		<div>
			<ul>
				@foreach(var item in Model.Ingredients)
				{
					<li>@item.IngredientName</li>
				}
			</ul>
			<br />
		</div>*@

</body>

</html>