@model ViewModel
@{ 
	var pizzalist = Model.Foods.Where(s => s.FoodType.Type.ToLower() == "pizza");
}

<html>
<head>
	<title></title>
	
</head>
<body>
	<div class="row">

		<div id="leftMenu" class="col-md-2">
			<a asp-controller="Home" asp-action="Index"><h2>Menu</h2></a>
			@foreach(var item in Model.FoodTypes.OrderBy(s => s.Type))
			{
				<a asp-controller="Home" asp-action="Index" asp-route-searchType="@item.ToString()"><h4>@item.Type</h4></a>
			}
		</div>

		<div id="mainContent" class="col-md-6">
			<ul>
				@foreach(var pizza in Model.Foods.OrderBy(s => s.FoodType.Type))
				{
					<li>
						<a><h3>@pizza.Name</h3></a>
						<span class="ingredients">
							@String.Join(", ", pizza.FoodIngredients.Select(s => s.Ingredient.IngredientName).ToList())
						</span>
					</li>
				}
			</ul>
		</div>
		
		<div id="rightMenu" class="col-md-4">
			<form class="form-group" method="post">
				<div>
					@*@foreach(var item in Model.)
					{
						@item.Name
					}*@
					@*<h2>@Model.Cart.TotalCost</h2>*@
				</div>
				<div>
					<button class="btn" type="submit">CHECKOUT</button>
					<button class="btn" type="reset">RESET</button>
				</div>
			</form>
		</div>
	</div>



</body>
</html>